<!--
<h2 mat-dialog-title> Añadir evento </h2>
<hr>
<mat-dialog-content>Seleccione la fecha a la que desea añadir el evento</mat-dialog-content>
<mat-form-field>
  <mat-datepicker-toggle [for]="miDatePicker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker #miDatePicker ></mat-datepicker>
</mat-form-field>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Añadir</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
-->
<div class="row">
  <div class="col-12">

    <h1>Añadir evento</h1>

    <form (ngSubmit)="addEvent()">
      <div class="row form-group">

        <div class="col-md-4 col-12">
          <label for="descripcion">Descripcion</label>
          <input type="text" class="form-control" name="descripcion" id="descripcion" [(ngModel)]="evento.descripcion" />
        </div>

        <div class="col-md-4 col-12">
          <label for="start">Inicio</label>
          <p-calendar 
            name="start" 
            id="start" 
            inputStyleClass="form-control" 
            [(ngModel)]="evento.inicio">
          </p-calendar>
          

          <p-checkbox 
            name="show-end" 
            binary="true" 
            [(ngModel)]="showEnd">
          </p-checkbox>
          
        </div>

        <div class="col-md-4 col-12" *ngIf="showEnd">
          <label for="end">Fin</label>
          <p-calendar 
            name="end" 
            id="end" 
            inputStyleClass="form-control"
            [(ngModel)]="evento.fin">
          </p-calendar>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-12">

          <button type="button" type="submit" class="btn btn-primary btn-block">Añadir evento</button>

        </div>
      </div>
    </form>
  </div>
</div>