<header>
  <div class="row" id="header">
    <div  class="example-sidenav-content">
        <div class="col-1">
          <button mat-fab color="primary" id="boton1" type="button" mat-button (click)="drawer.toggle()">
            <i class="material-icons">
              dehaze
            </i>
          </button>
        </div>
        <div class="col-1 border p-2">
          <img class="img-fluid border" src="https://logodix.com/logo/2096007.jpg" alt=""/>
        </div>
        <div class="col-10">
          <nav class="nav text-left border">
              <a class="nav-link" href="#" [routerLink]="['/events']" routerLinkActive="router-link-active">Eventos</a>
              <a class="nav-link" (click)="openDialog()">Añadir evento</a>
              <a class="nav-link disabled" >Disabled</a>
          </nav>
        </div>
    </div>
  </div>
</header>
<div style="height: 850px;">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-sidebar-calendar></app-sidebar-calendar>
      <app-eventos-sidebar> </app-eventos-sidebar>
    </mat-drawer>
      <div style="width: 1000px; height: 700px;">
        <app-calendario></app-calendario>
      </div>
  </mat-drawer-container>
</div>
